
.vs/CMake Overview
.vs/cmake.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/union-template/FileContentIndex/1950a3f0-b0cf-42b0-bafe-41106ce6fdee.vsidx
.vs/union-template/FileContentIndex/58b15726-3a71-4a7a-9d9a-7b9bae5a437b.vsidx
.vs/union-template/FileContentIndex/c7b589be-549b-4850-a239-b6374c5b207c.vsidx
.vs/union-template/FileContentIndex/dd1f7b42-421d-4a14-b7c8-f34178293b9b.vsidx
.vs/union-template/FileContentIndex/read.lock
.vs/union-template/v17/.suo
.vs/union-template/v17/Browse.VC.db
.vs/union-template/v17/ipch/1a529295778e3ffb.ipch
.vs/union-template/v17/ipch/9096b6b4d485e3a9.ipch
.vs/union-template/v17/workspaceFileList.bin
.vs/VSWorkspaceState.json
out/build/x86-Release/VSInheritEnvironments.txt
out/build/x86-Release/Testing/Temporary/LastTest.log
out/build/x86-Release/SqUnionModule.pdb
out/build/x86-Release/SqUnionModule.lib
out/build/x86-Release/SqUnionModule.ilk
out/build/x86-Release/SqUnionModule.exp
out/build/x86-Release/SqUnionModule.dll
out/build/x86-Release/dependencies/Union/cmake_install.cmake
out/build/x86-Release/dependencies/squirrel/cmake_install.cmake
out/build/x86-Release/dependencies/sqrat/cmake_install.cmake
out/build/x86-Release/dependencies/Hacks/cmake_install.cmake
out/build/x86-Release/dependencies/cmake_install.cmake
out/build/x86-Release/CMakeFiles/TargetDirectories.txt
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/vc140.pdb
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/src/workspace/sq_register.cpp.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/src/workspace/logicalKeys.cpp.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/src/sqmain.cpp.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/src/g2o/registry.cpp.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/src/g2o/callFunction.cpp.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/src/api/module_api.cpp.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/manifest.res
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/manifest.rc
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/intermediate.manifest
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/embed.manifest
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/dependencies/Union/ZenGin/Gothic_II_Classic/Statics_G2.cpp.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/dependencies/Union/ZenGin/Gothic_II_Classic/Globals_G2.cpp.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/dependencies/Union/ZenGin/Gothic_II_Classic/ClassDeclarators_G2.cpp.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/dependencies/Union/ZenGin/Gothic_II_Addon/Statics_G2A.cpp.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/dependencies/Union/ZenGin/Gothic_II_Addon/Globals_G2A.cpp.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/dependencies/Union/ZenGin/Gothic_II_Addon/ClassDeclarators_G2A.cpp.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/dependencies/Union/ZenGin/Gothic_I_Classic/Statics_G1.cpp.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/dependencies/Union/ZenGin/Gothic_I_Classic/Globals_G1.cpp.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/dependencies/Union/ZenGin/Gothic_I_Classic/ClassDeclarators_G1.cpp.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/dependencies/Union/ZenGin/Gothic_I_Addon/Statics_G1A.cpp.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/dependencies/Union/ZenGin/Gothic_I_Addon/Globals_G1A.cpp.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/dependencies/Union/ZenGin/Gothic_I_Addon/ClassDeclarators_G1A.cpp.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/cmake_pch.hxx
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/cmake_pch.cxx.pch
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/cmake_pch.cxx.obj
out/build/x86-Release/CMakeFiles/SqUnionModule.dir/cmake_pch.cxx
out/build/x86-Release/CMakeFiles/ShowIncludes/main.obj
out/build/x86-Release/CMakeFiles/ShowIncludes/main.c
out/build/x86-Release/CMakeFiles/ShowIncludes/foo.h
out/build/x86-Release/CMakeFiles/rules.ninja
out/build/x86-Release/CMakeFiles/CMakeOutput.log
out/build/x86-Release/CMakeFiles/cmake.check_cache
out/build/x86-Release/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x86-Release/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x86-Release/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x86-Release/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x86-Release/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x86-Release/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x86-Release/CMakeFiles/3.22.22040401-MSVC_2/CMakeSystem.cmake
out/build/x86-Release/CMakeFiles/3.22.22040401-MSVC_2/CMakeRCCompiler.cmake
out/build/x86-Release/CMakeFiles/3.22.22040401-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x86-Release/CMakeFiles/3.22.22040401-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x86-Release/CMakeFiles/3.22.22040401-MSVC_2/CMakeCXXCompiler.cmake
out/build/x86-Release/CMakeFiles/3.22.22040401-MSVC_2/CMakeCCompiler.cmake
out/build/x86-Release/CMakeCache.txt
out/build/x86-Release/cmake_install.cmake
out/build/x86-Release/build.ninja
out/build/x86-Release/.ninja_log
out/build/x86-Release/.ninja_deps
out/build/x86-Release/.cmake/api/v1/reply/toolchains-v1-f5a474c246fcab059fdb.json
out/build/x86-Release/.cmake/api/v1/reply/target-SqUnionModule-RelWithDebInfo-fa515c92f35527b3f66f.json
out/build/x86-Release/.cmake/api/v1/reply/index-2022-07-10T11-29-08-0973.json
out/build/x86-Release/.cmake/api/v1/reply/directory-dependencies.Union-RelWithDebInfo-3beac6790e4133a1d5ce.json
out/build/x86-Release/.cmake/api/v1/reply/directory-dependencies.squirrel-RelWithDebInfo-dfec89b10ebfdc41b412.json
out/build/x86-Release/.cmake/api/v1/reply/directory-dependencies.sqrat-RelWithDebInfo-92f93f3b882cbce751a4.json
out/build/x86-Release/.cmake/api/v1/reply/directory-dependencies.Hacks-RelWithDebInfo-d332ecede9268e020fdb.json
out/build/x86-Release/.cmake/api/v1/reply/directory-dependencies-RelWithDebInfo-213773dd22be3796fa39.json
out/build/x86-Release/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
out/build/x86-Release/.cmake/api/v1/reply/codemodel-v2-36c7a5ea631288b4f0be.json
out/build/x86-Release/.cmake/api/v1/reply/cmakeFiles-v1-a6366f93e63c3f49abe0.json
out/build/x86-Release/.cmake/api/v1/reply/cache-v2-4c617695ea74f8ccfbf4.json
out/build/x86-Release/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x86-Debug/VSInheritEnvironments.txt
out/build/x86-Debug/Testing/Temporary/LastTest.log
out/build/x86-Debug/dependencies/Union/cmake_install.cmake
out/build/x86-Debug/dependencies/squirrel/cmake_install.cmake
out/build/x86-Debug/dependencies/sqrat/cmake_install.cmake
out/build/x86-Debug/dependencies/Hacks/cmake_install.cmake
out/build/x86-Debug/dependencies/cmake_install.cmake
out/build/x86-Debug/CMakeFiles/TargetDirectories.txt
out/build/x86-Debug/CMakeFiles/SqUnionModule.dir/cmake_pch.hxx
out/build/x86-Debug/CMakeFiles/SqUnionModule.dir/cmake_pch.cxx
out/build/x86-Debug/CMakeFiles/ShowIncludes/main.obj
out/build/x86-Debug/CMakeFiles/ShowIncludes/main.c
out/build/x86-Debug/CMakeFiles/ShowIncludes/foo.h
out/build/x86-Debug/CMakeFiles/rules.ninja
out/build/x86-Debug/CMakeFiles/CMakeOutput.log
out/build/x86-Debug/CMakeFiles/cmake.check_cache
out/build/x86-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x86-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x86-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x86-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x86-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x86-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x86-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeSystem.cmake
out/build/x86-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeRCCompiler.cmake
out/build/x86-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x86-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x86-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeCXXCompiler.cmake
out/build/x86-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeCCompiler.cmake
out/build/x86-Debug/CMakeCache.txt
out/build/x86-Debug/cmake_install.cmake
out/build/x86-Debug/build.ninja
out/build/x86-Debug/.cmake/api/v1/reply/toolchains-v1-f5a474c246fcab059fdb.json
out/build/x86-Debug/.cmake/api/v1/reply/target-SqUnionModule-Debug-00e13f4850464ce8416e.json
out/build/x86-Debug/.cmake/api/v1/reply/index-2022-07-10T10-06-14-0000.json
out/build/x86-Debug/.cmake/api/v1/reply/directory-dependencies.Union-Debug-3beac6790e4133a1d5ce.json
out/build/x86-Debug/.cmake/api/v1/reply/directory-dependencies.squirrel-Debug-dfec89b10ebfdc41b412.json
out/build/x86-Debug/.cmake/api/v1/reply/directory-dependencies.sqrat-Debug-92f93f3b882cbce751a4.json
out/build/x86-Debug/.cmake/api/v1/reply/directory-dependencies.Hacks-Debug-d332ecede9268e020fdb.json
out/build/x86-Debug/.cmake/api/v1/reply/directory-dependencies-Debug-213773dd22be3796fa39.json
out/build/x86-Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
out/build/x86-Debug/.cmake/api/v1/reply/codemodel-v2-4ba4a2cfdd2aab0e3bab.json
out/build/x86-Debug/.cmake/api/v1/reply/cmakeFiles-v1-97e696eba1bf427aefaf.json
out/build/x86-Debug/.cmake/api/v1/reply/cache-v2-1a53a05d903b85769fb6.json
out/build/x86-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
